/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS RESET ENDS HERE */

/* CUSTOM STYLES */

/* CUSTOM RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* VARIABLES */
:root {
    --primary-color: #022D5B;
    --secondry-color: #FA646B;
    --para-color: #506172;
    --icon-color: #5F5F60;
}
/* BODY */
body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

/* GENERAL STYLES */
    /* CONTAINER */
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 6em;
}
    /* FLEX BOXES */
.flex {
    display: flex;
    align-items: center;
}
.justify-space-between {
    justify-content: space-between;
}
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
} 
      /* BUTTONS STYLES */
.btn {
    color: #fff;
    padding: 1em 2em;
    border-radius: 8px;
}
.btn-primary {
    background: var(--secondry-color);
}
.btn-secondry {
    background: transparent;
    color: var(--secondry-color);
    border: 2px solid var(--secondry-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}
/* PAGE HEADER */
.header-top {
    background: var(--primary-color);
    color: #fff;
    padding: 1em;
    margin-bottom: 1em;
}
.header-top a {
    color: #fff;
    padding-left: 1em;
}
.header-content {
    margin: 2em auto;
}
.header-content a {
    margin-left: 2em;
    text-transform: uppercase;
    color: var(--primary-color);
}
.header-content .btn-primary {
    color: #fff;
}
.section-header h2  {
    font-size: 2em;
    font-weight: 800;
    color: var(--primary-color);
    text-align: center;
    padding-bottom: 1em;
    margin-bottom: 1em;
  }

/* HOME PAGE  SPECIFIC STYLES */
/* HERO SECTION */
.home-hero {
    background: url("../media/hero/h1_hero.jpg") 50% 50% no-repeat;
    background-size: cover;
    height: 100vh;
}
.home-hero-content {
    padding-top: 15%;
    /* margin-top: 20%; */
}
.home-hero-content p {
    color: var(--secondry-color);
}
.home-hero-content h1 {
    color: var(--primary-color);
    font-size: 3.5em;
    font-weight: 900;
    text-transform: uppercase;   
    margin-bottom: 1em;
}
.home-hero .home-hero-content .btn {
    padding: 1em 3em;
}
/* OUR WORK SECTION */
.our-work {
    background: #F6F9FE;
}
.our-work-container {
    padding-top: 5em;
    padding-bottom: 5em;
}
.our-work-content {
    width: 31%;
    text-align: left;
}
.our-work-image {
    width: 100%;
}
.our-work-content h3 {
    font-size: 1.60em;
    font-weight: 700;
}
.our-work-content h2 {
    font-size: 2.5em;
    font-weight: 800;

}
.our-work-content p {
    color: var(--para-color);
}

.box-3 {
    border: 3px solid var(--secondry-color);
    padding: 1.5em 1em;
}
.box-3 hr {
    background-color: var(--secondry-color);
    width: 40%;
    height: 4px;
    margin-left: 0;
}
.box-3 p {
    padding-bottom: .5em;
}
.box-3 a {
    color: #181D34;
}
/* OUR CLIENTS SECTION */
.our-clients {
    padding-top: 3em;
    padding-bottom: 3em;
    position: relative;
}
.our-clients-content {
    width: 550px;
    height: 520px;
    padding: 4em;
    background-color: rgba(255, 255, 255, .6);
    position: absolute;
    right: 0;
    top: 10em;
}
.our-clients-content h2 {
    font-size: 2.5em;
    font-weight: 700;
    padding-bottom: 1em;
}
.our-clients-content p {
    color: var(--para-color);
    margin-bottom: 2em;
    padding-bottom: 1em;
}
/* OUR SERVICES */
.services-content {
    width: 25%;
    text-align: center;
    padding-bottom: 3em;
}
.services-content i {
    font-size: 50px;
}
.services-content h3 {
    font-size: 1.5em;
    padding: 1em 0;
}
.services-content p {
    color: var(--para-color);
}
.btn-container {
    margin-top: 1em;
    margin-bottom: 3em;
}
/* COMPLETED CASES */
.cases {
    background: #F8FAFE;
    padding-top: 4em;
    padding-right: 0;
    padding-left: 6em;
    padding-bottom: 5em;
    width: 100%;
}
.cases-content {
    width: 40%;
    padding-left: 6em;
}
.cases-content h3 {
    font-size: 2em;
    font-weight: 900;
    color: var(--primary-color);
    padding-bottom: 1.5em;
}
.cases-content p{
    color: var(--para-color);
    padding-bottom: 2em;
}
.cases-image-container {
    flex-wrap: nowrap;
    overflow: hidden;
    width: 60%;
    padding-right: 0;
}
.cases-img {
    width: 40%;
    margin-left: 1em;
}
/* TESTIMONIAL SECTION */
.testimonial {
    margin-top: 4em;
    padding-top: 4em;
}
.testimonial-container a {
    color: var(--para-color);
    font-size: 32px;
    font-weight: 100;
}
.testimonial-text {
    text-align: center;
    font-size: 1.5em;
    color: var(--primary-color);
    padding-top: 2em;
    padding-bottom: 1em;
}  
.stars {
    color: #FBBA42;
    padding-bottom: .75em;
    font-size: 2em;
}  
.name {
    color: var(--primary-color);
    font-size: 20px;
}
.name span {
    color: var(--para-color);
    font-size: 14px;
}
/* RECENT NEWS SECTION */
.news {
    margin-top: 4em;
}
.news-content {
    width: 33%;
    padding-left: 1em;
}
.news-content img {
    width: 100%;
}
.news-content-text {
    padding: 2em;
}
.red {
    color: var(--secondry-color);
    font-size: 14px;
    padding-bottom: .5em;
}
.news-content-text h4 {
    font-size: 24px;
    color: var(--primary-color);
    padding-bottom: .5em;
}
.light {
    font-size: 16px;
    font-weight: 100;
    color: var(--para-color);
}
/* ============ HOME PAGE SPECIFIC STYLES ENDS HERE ========== */


/* REQUEST A CALL SECTION */
.call-request {
    margin-top: 3em;
    padding-top: 5em;
    padding-bottom: 5em;
    background: var(--primary-color);
    padding-right: 0;
}

.call-request-text {
 color: #fff;
 width: 50%;
 margin-right: 1em;
}
.call-request-text h2 {
    font-size: 2em;
    font-weight: 800;
    padding-bottom: 1em;
}
.call-request-form input {
    font-size: 18px;
    padding: 1em;
    border-radius: 10px;
    margin: 1em .5em;
    border: 2px solid #77b1eb;
    background: var(--primary-color);
    color: #fff;
}
.call-request-form input::placeholder { 
    color: #fff;
    opacity: 1; 
  }
.call-request-form .services-input {
    width: 60%;
    color: #758EA8;
}
.call-request-form .services-input::placeholder {
    color: #77b1eb;
}
.call-request-form a {
    padding: 1.5em 4em;
}
/* PAGE FOOTER */
.footer {
    margin-top: 4em;
    padding-top: 4em;
    margin-bottom: 2em;
    padding-bottom: 2em;
}
.footer-container {
    align-items: flex-start;
}
.footer-brand {
    width: 25%;
}
.footer-brand img {
    margin-bottom: 2em;
}
.footer-brand p {
    color: var(--para-color);
    margin-bottom: 2em;
}
.footer-icon-nav a {
    color: #000;
    padding-right: 1em;
    font-size: 20px;
}
.footer-navigation h4 {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 1em;
}
.footer-navigation ul li {
    margin-bottom: 1em;
    color: var(--para-color);
}
.footer-navigation ul li a {
    color: var(--para-color);
}
.copyright-info {
    text-align: center;
}
.copyright-info small {
    color: var(--para-color);
    font-size: 14px;
}
.heart {
   font-size: 14px;
   font-weight: 900; 
}
/* ALL GENERAL STYLES AND HOMEPAGE STYLES ENDS HERE */

/* ABOUT PAGE STYLES */
.about-hero {
    height: 30vh;
    background: linear-gradient(to right, rgba(76, 156, 221, 0.2), rgba(76, 156, 221, 0.2)),
                url(../media/hero/about_hero.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.about-hero h1 {
    font-size: 2.5em;
    font-weight: 900;
    color: #fff;
}
